:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #f6f9ff;
  color: #444444;
}

a {
  color: #4154f1;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
  margin-top: 60px;
  padding: 20px 30px;
  transition: all 0.3s;
}

@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
}

/*--------------------------------------------------------------
# Page Title
--------------------------------------------------------------*/
.pagetitle {
  margin-bottom: 10px;
}

.pagetitle h1 {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 600;
  color: #012970;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #4154f1;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6776f4;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Override some default Bootstrap stylings
--------------------------------------------------------------*/
/* Dropdown menus */
.dropdown-menu {
  border-radius: 4px;
  padding: 10px 0;
  animation-name: dropdown-animate;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  border: 0;
  box-shadow: 0 5px 30px 0 rgba(82, 63, 105, 0.2);
}

.dropdown-menu .dropdown-header,
.dropdown-menu .dropdown-footer {
  text-align: center;
  font-size: 15px;
  padding: 10px 25px;
}

.dropdown-menu .dropdown-footer a {
  color: #444444;
  text-decoration: underline;
}

.dropdown-menu .dropdown-footer a:hover {
  text-decoration: none;
}

.dropdown-menu .dropdown-divider {
  color: #a5c5fe;
  margin: 0;
}

.dropdown-menu .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}

.dropdown-menu .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f6f9ff;
}

@media (min-width: 768px) {
  .dropdown-menu-arrow::before {
    content: "";
    width: 13px;
    height: 13px;
    background: #fff;
    position: absolute;
    top: -7px;
    right: 20px;
    transform: rotate(45deg);
    border-top: 1px solid #eaedf1;
    border-left: 1px solid #eaedf1;
  }
}

@keyframes dropdown-animate {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }
}

/* Light Backgrounds */
.bg-primary-light {
  background-color: #cfe2ff;
  border-color: #cfe2ff;
}

.bg-secondary-light {
  background-color: #e2e3e5;
  border-color: #e2e3e5;
}

.bg-success-light {
  background-color: #d1e7dd;
  border-color: #d1e7dd;
}

.bg-danger-light {
  background-color: #f8d7da;
  border-color: #f8d7da;
}

.bg-warning-light {
  background-color: #fff3cd;
  border-color: #fff3cd;
}

.bg-info-light {
  background-color: #cff4fc;
  border-color: #cff4fc;
}

.bg-dark-light {
  background-color: #d3d3d4;
  border-color: #d3d3d4;
}

/* Card */
.card {
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.card-header,
.card-footer {
  border-color: #ebeef4;
  background-color: #fff;
  color: #798eb3;
  padding: 15px;
}

.card-title {
  padding: 20px 0 15px 0;
  font-size: 18px;
  font-weight: 500;
  color: #012970;
  font-family: "Poppins", sans-serif;
}

.card-title span {
  color: #899bbd;
  font-size: 14px;
  font-weight: 400;
}

.card-body {
  padding: 0 20px 20px 20px;
}

.card-img-overlay {
  background-color: rgba(255, 255, 255, 0.6);
}

/* Alerts */
.alert-heading {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

/* Close Button */
.btn-close {
  background-size: 25%;
}

.btn-close:focus {
  outline: 0;
  box-shadow: none;
}

/* Accordion */
.accordion-item {
  border: 1px solid #ebeef4;
}

.accordion-button:focus {
  outline: 0;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: #012970;
  background-color: #f6f9ff;
}

.accordion-flush .accordion-button {
  padding: 15px 0;
  background: none;
  border: 0;
}

.accordion-flush .accordion-button:not(.collapsed) {
  box-shadow: none;
  color: #4154f1;
}

.accordion-flush .accordion-body {
  padding: 0 0 15px 0;
  color: #3e4f6f;
  font-size: 15px;
}

/* Breadcrumbs */
.breadcrumb {
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  color: #899bbd;
  font-weight: 600;
}

.breadcrumb a {
  color: #899bbd;
  transition: 0.3s;
}

.breadcrumb a:hover {
  color: #51678f;
}

.breadcrumb .breadcrumb-item::before {
  color: #899bbd;
}

.breadcrumb .active {
  color: #51678f;
  font-weight: 600;
}

/* Bordered Tabs */
.nav-tabs-bordered {
  border-bottom: 2px solid #ebeef4;
}

.nav-tabs-bordered .nav-link {
  margin-bottom: -2px;
  border: none;
  color: #2c384e;
}

.nav-tabs-bordered .nav-link:hover,
.nav-tabs-bordered .nav-link:focus {
  color: #4154f1;
}

.nav-tabs-bordered .nav-link.active {
  background-color: #fff;
  color: #4154f1;
  border-bottom: 2px solid #4154f1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.logo {
  line-height: 1;
}

@media (min-width: 1200px) {
  .logo {
    width: 280px;
  }
}

.logo img {
  max-height: 26px;
  margin-right: 6px;
}

.logo span {
  font-size: 26px;
  font-weight: 700;
  color: #012970;
  font-family: "Nunito", sans-serif;
}

.header {
  transition: all 0.5s;
  z-index: 997;
  height: 60px;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
  padding-left: 20px;
  /* Toggle Sidebar Button */
  /* Search Bar */
}

.header .toggle-sidebar-btn {
  font-size: 32px;
  padding-left: 10px;
  cursor: pointer;
  color: #012970;
}

.header .search-bar {
  min-width: 360px;
  padding: 0 20px;
}

@media (max-width: 1199px) {
  .header .search-bar {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    padding: 20px;
    box-shadow: 0px 0px 15px 0px rgba(1, 41, 112, 0.1);
    background: white;
    z-index: 9999;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
  }

  .header .search-bar-show {
    top: 60px;
    visibility: visible;
    opacity: 1;
  }
}

.header .search-form {
  width: 100%;
}

.header .search-form input {
  border: 0;
  font-size: 14px;
  color: #012970;
  border: 1px solid rgba(1, 41, 112, 0.2);
  padding: 7px 38px 7px 8px;
  border-radius: 3px;
  transition: 0.3s;
  width: 100%;
}

.header .search-form input:focus,
.header .search-form input:hover {
  outline: none;
  box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
  border: 1px solid rgba(1, 41, 112, 0.3);
}

.header .search-form button {
  border: 0;
  padding: 0;
  margin-left: -30px;
  background: none;
}

.header .search-form button i {
  color: #012970;
}

/*--------------------------------------------------------------
# Header Nav
--------------------------------------------------------------*/
.header-nav ul {
  list-style: none;
}

.header-nav>ul {
  margin: 0;
  padding: 0;
}

.header-nav .nav-icon {
  font-size: 22px;
  color: #012970;
  margin-right: 25px;
  position: relative;
}

.header-nav .nav-profile {
  color: #012970;
}

.header-nav .nav-profile img {
  max-height: 36px;
}

.header-nav .nav-profile span {
  font-size: 14px;
  font-weight: 600;
}

.header-nav .badge-number {
  position: absolute;
  inset: -2px -5px auto auto;
  font-weight: normal;
  font-size: 12px;
  padding: 3px 6px;
}

.header-nav .notifications {
  inset: 8px -15px auto auto !important;
}

.header-nav .notifications .notification-item {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  transition: 0.3s;
}

.header-nav .notifications .notification-item i {
  margin: 0 20px 0 10px;
  font-size: 24px;
}

.header-nav .notifications .notification-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.header-nav .notifications .notification-item p {
  font-size: 13px;
  margin-bottom: 3px;
  color: #919191;
}

.header-nav .notifications .notification-item:hover {
  background-color: #f6f9ff;
}

.header-nav .messages {
  inset: 8px -15px auto auto !important;
}

.header-nav .messages .message-item {
  padding: 15px 10px;
  transition: 0.3s;
}

.header-nav .messages .message-item a {
  display: flex;
}

.header-nav .messages .message-item img {
  margin: 0 20px 0 10px;
  max-height: 40px;
}

.header-nav .messages .message-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #444444;
}

.header-nav .messages .message-item p {
  font-size: 13px;
  margin-bottom: 3px;
  color: #919191;
}

.header-nav .messages .message-item:hover {
  background-color: #f6f9ff;
}

.header-nav .profile {
  min-width: 240px;
  padding-bottom: 0;
  top: 8px !important;
}

.header-nav .profile .dropdown-header h6 {
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 600;
  color: #444444;
}

.header-nav .profile .dropdown-header span {
  font-size: 14px;
}

.header-nav .profile .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}

.header-nav .profile .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}

.header-nav .profile .dropdown-item:hover {
  background-color: #f6f9ff;
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 996;
  transition: all 0.3s;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
}

@media (max-width: 1199px) {
  .sidebar {
    left: -300px;
  }
}

.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #fff;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #aab7cf;
}

@media (min-width: 1200px) {

  #main,
  #footer {
    margin-left: 300px;
  }
}

@media (max-width: 1199px) {
  .toggle-sidebar .sidebar {
    left: 0;
  }
}

@media (min-width: 1200px) {

  .toggle-sidebar #main,
  .toggle-sidebar #footer {
    margin-left: 0;
  }

  .toggle-sidebar .sidebar {
    left: -300px;
  }
}

.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-item {
  margin-bottom:20px;
}

.sidebar-nav .nav-heading {
  font-size: 11px;
  text-transform: uppercase;
  color: #899bbd;
  font-weight: 600;
  margin: 70px 0 20px 15px;
}


.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: #4154f1;
  transition: 0.3;
  background: #f6f9ff;
  padding: 10px 15px;
  border-radius: 4px;
}

.sidebar-nav .nav-link i {
  font-size: 16px;
  margin-right: 10px;
  color: #4154f1;
}

.sidebar-nav .nav-link.collapsed {
  color: #012970;
  background: #fff;
}

.sidebar-nav .nav-link.collapsed i {
  color: #899bbd;
}

.sidebar-nav .nav-link:hover {
  color: #4154f1;
  background: #f6f9ff;
}

.sidebar-nav .nav-link:hover i {
  color: #4154f1;
}

.sidebar-nav .nav-link .bi-chevron-down {
  margin-right: 0;
  transition: transform 0.2s ease-in-out;
}

.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
  transform: rotate(180deg);
}

.sidebar-nav .nav-content {
  padding: 5px 0 0 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-content a {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #012970;
  transition: 0.3;
  padding: 10px 0 10px 40px;
  transition: 0.3s;
}

.sidebar-nav .nav-content a i {
  font-size: 6px;
  margin-right: 8px;
  line-height: 0;
  border-radius: 50%;
}

.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
  color: #4154f1;
}

.sidebar-nav .nav-content a.active i {
  background-color: #4154f1;
}

/*--------------------------------------------------------------
# Dashboard
--------------------------------------------------------------*/
/* Filter dropdown */
.dashboard .filter {
  position: absolute;
  right: 0px;
  top: 15px;
}

.dashboard .filter .icon {
  color: #aab7cf;
  padding-right: 20px;
  padding-bottom: 5px;
  transition: 0.3s;
  font-size: 16px;
}

.dashboard .filter .icon:hover,
.dashboard .filter .icon:focus {
  color: #4154f1;
}

.dashboard .filter .dropdown-header {
  padding: 8px 15px;
}

.dashboard .filter .dropdown-header h6 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #aab7cf;
  margin-bottom: 0;
  padding: 0;
}

.dashboard .filter .dropdown-item {
  padding: 8px 15px;
}

/* Info Cards */
.dashboard .info-card {
  padding-bottom: 10px;
}

.dashboard .info-card h6 {
  font-size: 28px;
  color: #012970;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.dashboard .card-icon {
  font-size: 32px;
  line-height: 0;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  flex-grow: 0;
}

.dashboard .sales-card .card-icon {
  color: #4154f1;
  background: #f6f6fe;
}

.dashboard .revenue-card .card-icon {
  color: #2eca6a;
  background: #e0f8e9;
}

.dashboard .customers-card .card-icon {
  color: #ff771d;
  background: #ffecdf;
}

/* Activity */
.dashboard .activity {
  font-size: 14px;
}

.dashboard .activity .activity-item .activite-label {
  color: #888;
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
  min-width: 64px;
}

.dashboard .activity .activity-item .activite-label::before {
  content: "";
  position: absolute;
  right: -11px;
  width: 4px;
  top: 0;
  bottom: 0;
  background-color: #eceefe;
}

.dashboard .activity .activity-item .activity-badge {
  margin-top: 3px;
  z-index: 1;
  font-size: 11px;
  line-height: 0;
  border-radius: 50%;
  flex-shrink: 0;
  border: 3px solid #fff;
  flex-grow: 0;
}

.dashboard .activity .activity-item .activity-content {
  padding-left: 10px;
  padding-bottom: 20px;
}

.dashboard .activity .activity-item:first-child .activite-label::before {
  top: 5px;
}

.dashboard .activity .activity-item:last-child .activity-content {
  padding-bottom: 0;
}

/* News & Updates */
.dashboard .news .post-item+.post-item {
  margin-top: 15px;
}

.dashboard .news img {
  width: 80px;
  float: left;
  border-radius: 5px;
}

.dashboard .news h4 {
  font-size: 15px;
  margin-left: 95px;
  font-weight: bold;
  margin-bottom: 5px;
}

.dashboard .news h4 a {
  color: #012970;
  transition: 0.3s;
}

.dashboard .news h4 a:hover {
  color: #4154f1;
}

.dashboard .news p {
  font-size: 14px;
  color: #777777;
  margin-left: 95px;
}

/* Recent Sales */
.dashboard .recent-sales {
  font-size: 14px;
}

.dashboard .recent-sales .table thead {
  background: #f6f6fe;
}

.dashboard .recent-sales .table thead th {
  border: 0;
}

.dashboard .recent-sales .dataTable-top {
  padding: 0 0 10px 0;
}

.dashboard .recent-sales .dataTable-bottom {
  padding: 10px 0 0 0;
}

/* Top Selling */
.dashboard .top-selling {
  font-size: 14px;
}

.dashboard .top-selling .table thead {
  background: #f6f6fe;
}

.dashboard .top-selling .table thead th {
  border: 0;
}

.dashboard .top-selling .table tbody td {
  vertical-align: middle;
}

.dashboard .top-selling img {
  border-radius: 5px;
  max-width: 60px;
}

/*--------------------------------------------------------------
# Icons list page
--------------------------------------------------------------*/
.iconslist {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1.25rem;
  padding-top: 15px;
}

.iconslist .icon {
  background-color: #fff;
  border-radius: 0.25rem;
  text-align: center;
  color: #012970;
  padding: 15px 0;
}

.iconslist i {
  margin: 0.25rem;
  font-size: 2.5rem;
}

.iconslist .label {
  font-family: var(--bs-font-monospace);
  display: inline-block;
  width: 100%;
  overflow: hidden;
  padding: 0.25rem;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #666;
}

/*--------------------------------------------------------------
# Profie Page
--------------------------------------------------------------*/
.profile .profile-card img {
  max-width: 120px;
}

.profile .profile-card h2 {
  font-size: 24px;
  font-weight: 700;
  color: #2c384e;
  margin: 10px 0 0 0;
}

.profile .profile-card h3 {
  font-size: 18px;
}

.profile .profile-card .social-links a {
  font-size: 20px;
  display: inline-block;
  color: rgba(1, 41, 112, 0.5);
  line-height: 0;
  margin-right: 10px;
  transition: 0.3s;
}

.profile .profile-card .social-links a:hover {
  color: #012970;
}

.profile .profile-overview .row {
  margin-bottom: 20px;
  font-size: 15px;
}

.profile .profile-overview .card-title {
  color: #012970;
}

.profile .profile-overview .label {
  font-weight: 600;
  color: rgba(1, 41, 112, 0.6);
}

.profile .profile-edit label {
  font-weight: 600;
  color: rgba(1, 41, 112, 0.6);
}

.profile .profile-edit img {
  max-width: 120px;
}

/*--------------------------------------------------------------
# F.A.Q Page
--------------------------------------------------------------*/
.faq .basic h6 {
  font-size: 18px;
  font-weight: 600;
  color: #4154f1;
}

.faq .basic p {
  color: #6980aa;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
  padding: 28px 30px;
}

.contact .info-box i {
  font-size: 38px;
  line-height: 0;
  color: #4154f1;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #012970;
  font-weight: 700;
  margin: 20px 0 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 0;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #4154f1;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type=submit] {
  background: #4154f1;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #5969f3;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Error 404
--------------------------------------------------------------*/
.error-404 {
  padding: 30px;
}

.error-404 h1 {
  font-size: 180px;
  font-weight: 700;
  color: #4154f1;
  margin-bottom: 0;
  line-height: 150px;
}

.error-404 h2 {
  font-size: 24px;
  font-weight: 700;
  color: #012970;
  margin-bottom: 30px;
}

.error-404 .btn {
  background: #51678f;
  color: #fff;
  padding: 8px 30px;
}

.error-404 .btn:hover {
  background: #3e4f6f;
}

@media (min-width: 992px) {
  .error-404 img {
    max-width: 50%;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  padding: 20px 0;
  font-size: 14px;
  transition: all 0.3s;
  border-top: 1px solid #cddfff;
}

.footer .copyright {
  text-align: center;
  color: #012970;
}

.footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #012970;
}

/* From Uiverse.io by JayRamoliya */ 
.input-style {
  padding: 5px;
  width: 80%;
  border: 1px solid #3b3a3a;
  border-radius: 5px;
  font-size: 15px;
  color: #232323;
  outline: none;
}

.input-style:focus {
  border-color: #000d50;
}

.join-prog {
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
  background-color:#5969f3;
  color: white;
  width: 50px;
}

.join-prog:hover {
  background-color: #012970;
}

.join-con {
  display: flex;
  justify-content: space-between;
  flex: 1;
  gap: 1rem;
}

/* Adming Archives */

.ad-proj-con {
  display: flex;
  flex-direction: column;
  width: 100%; /* Set to 100% for full width */
  font-family: Arial, sans-serif; /* Change to your preferred font */
}

.ad-proj-in {
  display: flex;
  justify-content: space-between;
  padding: 5px 0; /* Adjust spacing as necessary */
  border-bottom: 1px solid #ccc; /* Optional: adds a line between items */
}

.ad-proj-in:last-child {
  border-bottom: none; /* Remove border from last item */
}

.ad-proj-code, .ad-proj-code-log {
  margin-top: 30px;
}

.ad-proj-code,
.ad-user,
.ad-proj-task,
.ad-proj-act,
.ad-time-stamp {
  font-weight: bold; /* Make labels bold */
  width: 40%; /* Set the width of the left side (labels) */
  color: rgb(0, 0, 92); /* Set font color to blue */
}

.ad-proj-code-log,
.ad-user-log,
.ad-proj-task-log,
.ad-proj-act-log,
.ad-time-stamp-log {
  color: #555; /* Change color for the logs */
  width: 60%; /* Set the width of the right side (logs) */
}

/* Ensure the parent container allows for flexible child widths */
.ad-proj-in > div {
  box-sizing: border-box; /* Include padding/borders in width calculation */
}

/* User Archives */

.us-proj-con {
  display: flex;
  flex-direction: column;
  width: 100%; /* Set to 100% for full width */
  font-family: Arial, sans-serif; /* Change to your preferred font */
}

.us-proj-in {
  display: flex;
  justify-content: space-between;
  padding: 5px 0; /* Adjust spacing as necessary */
  border-bottom: 1px solid #ccc; /* Optional: adds a line between items */
}

.us-proj-in:last-child {
  border-bottom: none; /* Remove border from last item */
}

.us-proj-code, .us-proj-code-log {
  margin-top: 30px;
}

.us-proj-code,
.us-user,
.us-proj-task,
.us-proj-act,
.us-time-stamp {
  font-weight: bold; /* Make labels bold */
  width: 40%; /* Set the width of the left side (labels) */
  color: rgb(0, 0, 92); /* Set font color to blue */
}

.us-proj-code-log,
.us-user-log,
.us-proj-task-log,
.us-proj-act-log,
.us-time-stamp-log {
  color: #555; /* Change color for the logs */
  width: 60%; /* Set the width of the right side (logs) */
}

/* Ensure the parent container allows for flexible child widths */
.us-proj-in > div {
  box-sizing: border-box; /* Include padding/borders in width calculation */
}

.proj-con {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  gap: 20px; /* Space between items */
  
}

.proj {
  width: 250px; /* Fixed width for each project */
  height: 150px; /* Fixed height for each project */
  border: 1px solid #ccc; /* Border around the container */
  padding: 10px; /* Padding around the project container */
  margin: 10px; /* Margin for spacing */
  background-color: #f9f9f9; /* Light background for contrast */
  border-radius: 10px;
  color: black; 
  line-height: 30px;
  font-size: 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.p-code {
  border-bottom: 1px solid black;
  font-weight: bold; /* Make it bold */
  padding: 0; /* Remove padding for no space around the text */
  margin: 0; /* Remove margin for no space around the element */
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 18px;
}

.p-proj {
  margin-top: 10px; /* Add some margin for spacing */
}

.join-container {
  background-color: #f9f9f9; /* Light background for contrast */
  border: 1px solid #ccc; /* Border around the container */
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Padding for spacing */
  width: 100%;
  margin: 20px auto; /* Center the container horizontally */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.join-head {
  font-size: 18px; /* Font size for the heading */
  margin-bottom: 15px; /* Space below the heading */
  font-weight: 600;
}

.join-input {
  display: flex; /* Use flexbox for alignment */
  gap: 10px; /* Space between input fields */
}

.join-input input[type="text"] {
  flex-grow: 1; /* Allow text input to grow and fill space */
  padding: 2px; /* Padding inside the input */
  border: 1px solid #ccc; /* Border for input */
  border-radius: 5px; /* Rounded corners */
  font-size: 16px; /* Font size for input text */
  width: 60%;
}

.submit-join {
  padding: 5px 15px; /* Padding for the button */
  background-color: #007BFF; /* Button background color */
  color: white; /* Text color */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners for the button */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 14px; /* Corrected font size */
}

.submit-join:hover {
  background-color: #0056b3; /* Darker blue on hover */
}


.submit-join:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

#editor {
  height: 350px;
  background-color: rgba(180, 180, 180, 0.306);
}

/* TASKS */

#task-container {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping of elements */
  gap: 20px; /* Space between sections */
  width: 100%; /* Full width of the parent */
  margin: 0; /* Remove margin to cover the entire div */
  box-sizing: border-box; /* Ensure padding and border are included in width */
}

.custom-select {
  position: relative; /* Position relative to allow absolute positioning of options */
  width: 150px; /* Set fixed width for the custom dropdown */
  cursor: pointer; /* Change cursor to pointer */
  margin-bottom: 20px; /* Reduce margin to bring sections closer together */
}

.selected-option {
  border: 1px solid #000; /* Solid border for select box */
  border-radius: 5px; /* Optional: rounded corners */
  padding: 10px; /* Padding inside the select box */
  background-color: #f9f9f9; /* Light background color for select box */
  text-align: center; /* Center align text */
}

.options {
  display: none; /* Hide options by default */
  position: absolute; /* Position options below the select box */
  width: 100%; /* Full width of the select box */
  border: 1px solid #ccc; /* Border for options */
  background-color: #fff; /* White background for options */
  z-index: 1; /* Ensure options are above other elements */
}

.option {
  padding: 10px; /* Padding for each option */
  cursor: pointer; /* Change cursor to pointer */
}

.option:hover {
  background-color: #f1f1f1; /* Change background on hover */
}

.custom-select:hover .options {
  display: block; /* Show options on hover */
}

.task-head {
  font-weight: bold; /* Bold text for headers */
  margin-bottom: 20px; /* Space below the header */
  font-size: 16px;
}

/* Container for sections */
.sections-container {
  display: flex; /* Use flex for aligning sections */
  gap: 10px; /* Space between sections */
  width: 100%; /* Ensure it takes full width */
  margin: 0; /* Remove margin */
}

.upload-section {
  align-content: center;
}

/* Styles for individual sections */
.upcoming-deadlines,
.instructions,
.upload-section {
  border: 1px solid #ccc; /* Optional: border for these sections */
  border-radius: 5px; /* Optional: rounded corners */
  padding: 10px; /* Padding inside these sections */
  flex: 1 1 0; /* Allow sections to grow and shrink equally */
  box-sizing: border-box; /* Ensure padding is included in width */
  height: 400px;
}

/* Ensure sections stack nicely on smaller screens */
@media (max-width: 768px) {
  .upcoming-deadlines,
  .instructions,
  .upload-section {
    flex: 1 1 100%; /* Full width on smaller screens */
    margin-bottom: 10px; /* Space below each section */
  }
}

/* From Uiverse.io by Yaya12085 */ 
.form {
  background-color: #fff;
  box-shadow: 0 10px 60px rgb(218, 229, 255);
  border: 1px solid rgb(159, 159, 160);
  border-radius: 20px;
  padding: 2rem .7rem .7rem .7rem;
  text-align: center;
  font-size: 14px;
  max-width: 250px;
}

.form-title {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
}

.form-paragraph {
  margin-top: 10px;
  font-size: 10px;
  color: rgb(105, 105, 105);
}

.drop-container {
  background-color: #fff;
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 2.1875rem;
  border-radius: 10px;
  border: 2px dashed rgb(171, 202, 255);
  color: #444;
  cursor: pointer;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
  background: rgba(0, 140, 255, 0.085);
  border-color: rgba(17, 17, 17, 0.616);
}

.drop-container:hover .drop-title {
  color: #222;
}

.drop-title {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color .2s ease-in-out;
}

#file-input {
  width: 250px;
  max-width: 100%;
  color: #444;
  padding: 2px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid rgba(8, 8, 8, 0.288);
}

#file-input::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

#file-input::file-selector-button:hover {
  background: #0d45a5;
}

.task-docu {
  margin-top: 20px;
}


/* Rich Text Editor */

.docu-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#editor {
  height: 500px; /* Set height of the editor */
  border: 1px solid #ccc; /* Customize border */
  background-color: #ebebeb;
  border-bottom-left-radius: 10px;   /* Radius for the top-left corner */
  border-bottom-right-radius: 10px;  /* Radius for the top-right corner */
}

.ql-toolbar {
  background-color: #cfcccc; /* Change toolbar background */
  border-top-left-radius: 10px;   /* Radius for the top-left corner */
  border-top-right-radius: 10px;  /* Radius for the top-right corner */
}

.ql-editor {
  font-size: 16px; /* Change font size */
  color: #1c1c1c; /* Change text color */
}

.ql-editor h1 {
  color: #007bff; /* Change color of H1 */
}

.ql-editor h2 {
  color: #002a57; /* Change color of H2 */
}

.ql-editor h3 {
  color: #001d3b; /* Change color of H3 */
}

/* COMMENT */

.docu-comment-con {
  border: 1px solid #ccc; /* Customize border */
  background-color: #ebebeb;
  height: auto;
  padding: 10px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 10px;
}

.user-comm {
  margin-bottom: 10px; /* Space between user comments */
}

.user-info {
  display: flex;              /* Use flexbox for alignment */
  align-items: flex-start;    /* Align items to the top */
}

.user-img {
  width: 25px;               /* Set a fixed width for the image */
  height: 25px;              /* Set a fixed height for the image */
  border-radius: 50%;        /* Make the image circular */
  margin-right: 10px;        /* Space between image and text */
}

.user-details {
  display: flex;             /* Use flexbox for text layout */
  flex-direction: column;    /* Stack username and timestamp vertically */
}

.username {
  font-weight: bold;         /* Make the username bold */
}

.timestamp {
  font-size: 14px;          /* Smaller font size for the timestamp */
  color: gray;              /* Change color for better readability */
}

.your-comment {
  margin-top: 10px;         /* Space above the comment input */
}

.input-container {
  display: flex;              /* Use flexbox for alignment */
  align-items: center;        /* Center vertically */
}

.your-comment input {
  flex: 1;                   /* Allow input to take remaining space */
  padding: 8px;             /* Padding for input */
  border: 1px solid #ccc;   /* Border for the input */
  border-radius: 4px;       /* Rounded corners */
  font-size: 16px;          /* Match input font size */
  height: 40px;              /* Set a fixed height */
  resize: none;              /* Disable resizing */
}

.send-button {
  background: none;          /* No background for the button */
  border: none;              /* No border */
  cursor: pointer;           /* Pointer cursor */
  padding: 0 10px;          /* Horizontal padding for the button */
}

.send-icon {
  width: 30px;               /* Set width for the send icon */
  height: 30px;              /* Set height for the send icon */
  background-color: #11268b;
  padding: 5px;
  border-radius: 100px;
}

.send-icon:hover {
  background-color: #2842c4;
}

.user-comm-item {
  padding: 10px 0; /* Padding for each comment */
  margin-left: 30px; /* Add left margin to the displayed comments */
}

.reply-link, 
.edit-link, 
.delete-link {
  margin-left: 35px; /* Space between action links */
  cursor: pointer; /* Pointer cursor */
  color: blue; /* Color for links */
  text-decoration: underline; /* Underline for links */
  font-size: 13px;
}

/* Add hover effect for links */
.reply-link:hover,
.edit-link:hover,
.delete-link:hover {
  color: #0056b3; /* Change color on hover */
}

.reply-input-container {
  display: flex;              /* Use flexbox for alignment */
  align-items: center;        /* Center vertically */
  margin-left: 35px;         /* Indent replies */
  margin-top: 10px;          /* Space above the reply input */
}

.reply-input-container input {
  flex: 1;                   /* Allow input to take remaining space */
  padding: 8px;             /* Padding for input */
  border: 1px solid #ccc;   /* Border for the input */
  border-radius: 4px;       /* Rounded corners */
  font-size: 16px;          /* Match input font size */
  height: 40px;              /* Set a fixed height */
  resize: none;              /* Disable resizing */
}

.reply-input-container .send-button {
  background: none;          /* No background for the button */
  border: none;              /* No border */
  cursor: pointer;           /* Pointer cursor */
  padding: 0 10px;          /* Horizontal padding for the button */
}

.comment-text {
  margin-left: 35px;
  margin-top: 5px;
}

.modal {
    display: none;             /* Hidden by default */
    position: fixed;          /* Stay in place */
    z-index: 1000;           /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;              /* Full width */
    height: 100%;             /* Full height */
    overflow: auto;           /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe; /* White background */
    margin: 15% auto;         /* 15% from the top and centered */
    padding: 20px;            /* Padding inside modal */
    border: 1px solid #888;   /* Border */
    width: 20%;               /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;              /* Gray color for close button */
    float: right;             /* Right aligned */
    font-size: 20px;          /* Font size */
    font-weight: bold;        /* Bold font */
}

.close:hover,
.close:focus {
    color: rgb(187, 0, 0);             /* Change color on hover/focus */
    text-decoration: none;    /* No underline */
    cursor: pointer;          /* Pointer cursor */
}

#confirmDelete {
  border: none;
  background-color:  rgb(187, 0, 0);
  color: white;
  padding: 10px, 15px;
  border-radius: 10px;
  box-shadow: outset 0, 10px, 10px black;
}

#confirmDelete:hover {
  background-color:  rgb(114, 2, 2);
}

/* Progress */
.circ-prog-container {
  display: flex;
  width: 100%;
  padding: 50px 0;
  border-radius: 8px;
  flex-direction: column;
  align-items: center;
}

.circular-progress {
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: conic-gradient(#7d2ae8 0deg, #ededed 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease; /* Smooth transition */
}

.circular-progress::before {
  content: "";
  position: absolute;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #fff; /* Change to a lighter color for contrast */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

/* Progress value styling */
.progress-value {
  font-size: 24px; /* Increase font size */
  font-weight: bold; /* Make it bold */
  color: #7d2ae8; /* Match the progress color */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Add a text shadow */
}

/* Basic styling for the project lists container */
.proj-lists {
  position: relative; /* Positioning for absolute child elements */
  display: inline-block; /* Align next to other elements */
  margin-bottom: 20px;
}

/* Style for the custom dropdown */
.proj-lists-name {
  padding:5px; /* Padding for better appearance */
  font-size: 14px; /* Font size */
  border: 1px solid #ccc; /* Border styling */
  border-radius: 5px; /* Rounded corners */
  background-color: #f9f9f9; /* Background color */
  cursor: pointer; /* Change cursor on hover */
  transition: border-color 0.3s; /* Smooth transition for border color */
}

/* Show the options on hover */
.proj-lists-name:hover {
  border-color: #007bff; /* Change border color on hover */
}

/* Styling for the dropdown options */
.proj-options {
  display: none; /* Hide options by default */
  position: absolute; /* Position options relative to the container */
  background-color: #fff; /* Background color */
  border: 2px solid #ccc; /* Border styling */
  border-radius: 5px; /* Rounded corners */
  margin-top: 5px; /* Space between the select and options */
  padding: 0; /* Remove padding */
  list-style: none; /* Remove list styling */
  z-index: 1; /* Ensure it appears above other content */
}

/* Display options when hovering over the parent */
.proj-lists-name:hover .proj-options {
  display: block; /* Show options on hover */
}

/* Style for individual options */
.proj-options li {
  padding: 10px; /* Padding for options */
  cursor: pointer; /* Change cursor on hover */
  transition: background-color 0.3s; /* Smooth transition for background color */
}

/* Change background color on hover for options */
.proj-options li:hover {
  background-color: #f0f0f0; /* Background color on hover */
}
